/* 全体文字設定 */
body {
  font-size: 100%;
}

/* リスト先頭文字消し */
ul {
  list-style: none;
}

/* リンク色初期化 */
a {
  text-decoration: none;
  color: black;
  font-size: 0.88rem;
}

/* 各カテゴリのタイトル設定 */
.section-title {
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  text-align: center;
  color: white;
  font-size: 4.4rem;
}

/* 各カテゴリのサブタイトル設定 */
.sub-title {
  display: inline-block;
  font-size: 2.5rem;
  margin: 10px 0 70px 0px;
  border-bottom: solid 5px red;
}

/* ヘッダーの背景画像 */
#header {
  min-height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 20px;
}

/* ヘッダータイトル設定 */
.main-image {
  position: absolute;
  top: 45%;
  right: 32.9%;
}

/* タイトルの影設定 */
.main-image img {
  filter: drop-shadow(1px 1px 10px #b8b6b6); 
}

/* メニューリストの並び設定 */
.navi ul {
  display: flex;
  margin: 20px 40px 0 0;
}

/* メニューリストの間隔空ける */
.navi ul li {
  margin-left: 28px;
}

/* メニューリストの色設定 */
.navi ul li a {
  color: white;
  font-weight: bold;
  font-size: 0.88rem;
  text-shadow: 1px 1px 3px black;
  transition: .5s;
}

.navi ul li a:hover {
  color: rgb(192, 17, 17);
  transition: .5s;
}

/* 各タイトルの背景バナー幅・パララックス設定 */
.title {
  height: 300px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

/* MENUバナー画像設定 */
.menuimg {
  background-image: url(../img/menu.jpg);
  position: relative;
}

/* ABOUTバナー画像設定 */
.aboutimg {
  background-image: url(../img/about.jpg);
  position: relative;
  margin-bottom: 80px;
}

/* LOCATIONバナー画像設定 */
.locationimg {
  background-image: url(../img/location.jpg);
  position: relative;
}

/* 各項目の幅設定 */
.wrapper {
  max-width: 1000px;
  margin: 0 auto 100px auto;
  padding: 0 16px;
  text-align: center;
}

/* メニューリスト横並び設定 */
.order {
  display: flex;
  justify-content: space-between;
  margin: 90px auto 100px auto;
}

/* メニューの中央線設定 */
.left {
  border-right: solid 1px black;
}

/* 両サイド均等分け */
.side {
  width: 50%;
}

/* 商品名と価格の設定 */
dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 45px;
  font-size: 0.9rem;
}

/* FOODとOTHERの間の余白設定 */
.sub-detail {
  margin-bottom: 50px;
}


.side dt {
  width: 87%;
  border-bottom: dotted 1px black;
  text-align: left;
  margin-bottom: 27px;
}


.side dd {
  width: 13%;
  text-align: right;
  margin-top: 10px;
}


.explain h2 {
  margin-bottom: 90px;
}


.texts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 20px;
}


.text {
  width: 48%;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.8rem;
}


.text p {
  margin-bottom: 38px;
}

/* ボタンのアニメーション設定 */
.button a{
  position: relative;
}

/* カーソルを外したときのアニメーション */
.button a::before,
.button a::after {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  transition-duration: .3s;
}


.button a::before {
  top: -10px;
  left: -53px;
  border-top: 2px solid red;
  border-left: 2px solid red;
}

.button a::after {
  bottom: -20px;
  right: -53px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
}

/* カーソルのを合わせたときのアニメーション */
.button a:hover::before,
.button a:hover::after {
  width: 160px;
  height: 46px;
  transition-duration: .3s;
}


#location {
  margin-bottom: 180px;
}

.our-store .sub-title {
  margin-top: 90px;
}

.item-info {
  text-align: left;
  font-size: 0.9rem;
}

.map {
  margin-bottom: 20px; 
}

iframe {
  filter: grayscale(100%);
}

.item-info p {
  margin-bottom: 15px;
}

#footer {
  text-align: center;
  font-size: 0.6rem;
  margin-bottom: 10px;
}